## .NET build output
[Bb]in/
[Oo]bj/
[Oo]ut/
artifacts/

## VS / Rider
.vs/
.idea/
*.user
*.suo

## User-specific
*.DotSettings.user

## Test results
TestResults/

## Logs
*.log

## OS
.DS_Store
Thumbs.db

## NuGet
*.nupkg
.nuget/
packages/
